    body {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
    }
    
     :root {
        font-size: 10px;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: #d7e8e0;
    }
    
    .container {
        width: 1200px;
        margin: 0 auto;
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 194, 255, 1) 0%, rgba(140, 140, 230, 1) 52%);
    }
    
    .main-inner {
        display: flex;
        width: 100%;
    }
    /* ASIDE-PANEL */
    
    .aside-panel {
        width: 33%;
        color: #d7e8e0;
    }
    
    .avatar {
        display: block;
        width: 60%;
        border-radius: 50%;
        margin: 10% auto;
    }
    
    .contacts__title {
        margin-left: 20%;
        margin-bottom: 5%;
        border-bottom: solid 2px white;
    }
    
    .contacts__list {
        margin-left: 20%;
    }
    /* MAIN-CONTENT */
    
    .main-content {
        width: 67%;
    }
    
    .main-section {
        margin-bottom: 5rem;
    }
    
    .main-content__container {
        margin: 0 10rem;
    }
    
    .header {
        margin-top: 10rem;
        margin-bottom: 13rem;
    }
    
    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    
    .main__title {
        border-bottom: solid 2px black;
        margin-bottom: 2rem;
    }
    
    .about-me__text {
        font-style: italic;
    }
    
    .img-code {
        display: block;
        margin: 0 auto;
    }
    
    figcaption {
        text-align: center;
        font-style: italic;
    }
    
    .education-list {
        font-style: italic;
    }
    
    .footer {
        background: linear-gradient(90deg, rgba(112, 108, 173, 1) 0%, rgba(171, 171, 222, 1) 28%, rgba(96, 195, 198, 1) 58%);
    }
    
    .footer__container {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .github {
        margin: auto 0;
    }
    
    .gh {
        color: rgba(254, 243, 243, 0.77);
        font-weight: bold;
    }
    
    .github__link:hover {
        cursor: pointer;
        color: rgb(97, 97, 97);
        border-bottom: solid 2px rgb(97, 97, 97);
        /* transition: .2s; */
    }